body {
    background-color: #f8fafb; }
  
  p {
    color: #b3b3b3;
    font-weight: 300; }
  .dangky{
    text-transform: capitalize;
    font-size: 24px;
  }
  
  #formdangky{
    padding: 24px;
    height: 678px;
    width: 448px;
  }
  
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif; }
  
  a {
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  @media (max-width: 991.98px) {
    .content .bg {
      height: 500px; } }
  
  .content .contents, .content .bg {
    width: 50%; }
    @media (max-width: 1199.98px) {
      .content .contents, .content .bg {
        width: 100%; } }
    .content .contents .form-group, .content .bg .form-group {
      overflow: hidden;
      margin-bottom: 0;
      padding: 14px 14px;
      border-bottom: none;
      position: relative;
      background: #edf2f5;
      border-bottom: 1px solid #e6edf1; }
      .content .contents .form-group label, .content .bg .form-group label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s all ease; }
      .content .contents .form-group input, .content .bg .form-group input {
        background: transparent; }
      .content .contents .form-group.first, .content .bg .form-group.first {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      .content .contents .form-group.second, .content .bg .form-group.second {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      .content .contents .form-group.third, .content .bg .form-group.third {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      .content .contents .form-group.last, .content .bg .form-group.last {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; }
  
      .content .contents .form-group label, .content .bg .form-group label {
        font-size: 12px;
        display: block;
        margin-bottom: 0;
        color: #b3b3b3; }
      .content .contents .form-group.focus, .content .bg .form-group.focus {
        background: #fff; }
      .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
        margin-top: -20px; }
    .content .contents .form-control, .content .bg .form-control {
      border: none;
      padding: 0;
      font-size: 12px;
      border-radius: 0; }
      .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
        outline: none;
        box-shadow: none; }
  
  .content .bg {
    background-size: cover;
    background-position: center; }
  
  .content a {
    color: #888;
    text-decoration: underline; }
  
  .content .btn {
    background-color: #24a8d8;
    color: white;
    display: inline-flex;
    height: 40px;
    width: 400px;
    padding: 6px 80px;
    border: 0;
    border-radius: 18px;
  }
  
  .content .linkxanh {
    position: relative;
    top: 2px;
    font-size: 14px; }
  
  .social-resgister a {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block; }
    .social-resgister a span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .social-resgister a:hover {
      color: #fff; }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
    .control .caption {
      position: relative;
      top: .2rem;
      color: #888; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }
  
    .register{
      font-size: 0.875rem;
    }

    .ml-auto{
        font-size: 14px;
    }